.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.item {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.title {
  color: rgba(38, 38, 38, 0.5);
}

.value {
  color: var(--primary);
}
