.container {
  border-radius: 20px;
  padding: 16px;
  background-color: var(--white);
  display: flex;
  column-gap: 8px;
  width: 294px;
  height: 121px;
}

.emodziContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--orange-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.emodzi {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #fff;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--orange);
}

.birthday {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.date {
  color: var(--primary);
}

.description {
  width: 194px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.8);
}
