.btn {
  width: 100%;
  border-radius: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;

  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--orange);

  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: var(--orange-hover);
}
