.form {
  width: 100%;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--primary);
  margin-bottom: 20px;
}

.imgContainer {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

.userIcon {
  width: 40px;
  height: 40px;
}

.photoInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.uploadBtn {
  width: 100%;
  height: 42px;
  border: none;
  outline: none;
  background-color: var(--orange-light);
  color: var(--primary);
  border-radius: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.btnIconContainer {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnIcon {
  width: 100%;
  height: 100%;
  fill: var(--orange);
}

.uploadBtn:hover {
  background-color: var(--orange-light-hover);
}

.inputAvatarUrl {
  width: 100%;
  font-size: 14px;
  line-height: 1.29;
  height: 42px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 21px;
}

@media screen and (min-width: 375px) {
  .uploadBtn {
    width: 146px;
  }

  .photoInput {
    flex-direction: row;
    justify-content: space-between;
  }

  .inputAvatarUrl {
    width: 161px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 440px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .title {
    font-size: 18px;
    line-height: 1.33;
  }

  .inputAvatarUrl {
    width: 226px;
  }

  .content {
    margin-bottom: 40px;
  }

  .imgContainer {
    width: 86px;
    height: 86px;
  }
}
