.wrapper {
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  height: 42px;
  outline: none;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  background-color: transparent;
  transition: border-color 3000s ease-in-out;
}

.input:focus,
.input:hover {
  border-color: var(--orange);
}

.error {
  position: absolute;
  bottom: -12px;
  left: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--error);
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--orange);
  position: absolute;
  transform: translate(-200%, 75%);
  transition: stroke 3000s ease-in-out;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: var(--orange);
  transition: background-color 5000s ease-in-out;
}

@media screen and (min-width: 768px) {
  .input {
    padding: 14px;
    height: 48px;
  }
}
