.btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn {
    border-radius: 30px;
    padding: 15px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border: none;
    outline: none;

    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--white);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn.home {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .btn.unvisible {
    display: none;
  }

  .btn.home:hover {
    background-color: var(--orange-light);
    color: var(--orange);
  }

  .btn:hover {
    background-color: var(--orange-hover);
  }
}
