:root {
  --primary: #262626;

  --secondary: #fbfbfb;
  --section-bgr: #cccccc;

  --orange: #f6b83d;
  --orange-hover: #f9b020;

  --orange-light: #fff4df;
  --orange-light-hover: #fbe7c1;

  --white: #fff;
  --green: #08aa83;

  --error: #ef2447;
  --section-bgr: #f3f3f3;

  --red-light: rgba(244, 63, 94, 0.1);
  --blue-light: rgba(84, 173, 255, 0.1);
  --blue: #54adff;
  --red: #f43f5e;
}
